/* CSS Document */
@charset "UTF-8";

/* CSS for 404 page */
.fourofour {
  inline-size: fit-content;
  block-size: fit-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  inset: 0;
  margin: auto;
}

body {
  background-color: white;
  font-family: "Courier New", "Courier", monospace;
  font-size: medium;
  color: black;
}

h1 {
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-align: center;
  margin: 0 auto 1rem;
}

a {
  color: black;
}

a:hover {
  color: gray;
}

a:active {
  color: red;
}
