/* CSS Document */

@charset "UTF-8";

/* General styling */

body {
  font-family: "Courier New", "Courier", "Liberation Mono", monospace;
  font-size: medium;
}

h1 {
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-align: center;
  margin: 0 auto 1rem;
}

h2 {
  font-size: medium;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

h3 {
  font-size: medium;
  font-weight: normal;
}

a {
  color: black;
}

a:hover {
  color: gray;
}

a:active {
  color: red;
}

li::marker {
  content: "\2010 \0020"/ "";
}

hr {
  margin: 1rem 0;
  border: none;
  color: black;
}

hr::before {
  content: "--- *** ---";
  display: block;
  text-align: center;
}

b,
strong {
  font-weight: bold;
  letter-spacing: 0.2rem;
}

/* Main layout */

header > pre {
  text-align: center;
  margin: 1.5rem auto 1rem;
}

.flexbox {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav {
  inline-size: fit-content;
  block-size: fit-content;
  padding: 1rem;
  flex-shrink: 0;
  position: absolute;
  transform: translateX(-22.5rem);
  border: 0.01rem solid black;
}

.center {
  min-block-size: 20rem;
  inline-size: 30rem;
  padding: 1rem 1rem 0;
  align-self: center;
  border: 0.01rem solid black;
}

footer {
  font-size: 0.7rem;
  text-align: center;
  margin: 0 auto;
}

/* Styling for navigation */

nav > strong {
  margin: 0;
}

nav > ul {
  margin: 1rem 0 0;
}

.menu > li::marker {
  content: "\003E \0020"/ "";
}

.mobilenav {
  display: none;
}

.mobilenav summary {
  cursor: pointer;
  text-transform: uppercase;
}

/* Text styling */

.spoiler {
  background-color: darkgray;
  color: darkgray;
}

.spoiler:hover {
  background-color: transparent;
  color: black;
}

.uppercase {
  text-transform: uppercase;
}

/* Button and code box CSS */

.btn {
  display: block;
  margin-bottom: 1rem;
}

.codebox {
  max-inline-size: 13.5rem;
  block-size: 3.5rem;
  padding: 0.5rem;
  border: solid 0.01rem black;
  background-color: ivory;
  overflow-y: scroll;
  font-size: 0.6rem;
}

.codebox > code {
  display: block;
  font-family: "Courier New", "Courier", "Liberation Mono", monospace;
  white-space: pre-wrap;
  word-break: break-all;
}

/* CSS for 404 page */

.fourofour {
  inline-size: fit-content;
  block-size: fit-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  inset: 0;
  margin: auto;
}

/* CSS for smaller screens */

@media (max-width: 1100px) {
  nav {
    display: none;
  }

  .mobilenav {
    display: block;
    margin-block-end: 1rem;
  }
}

@media (max-width: 550px) {
  header {
    font-size: 2.3vmin;
  }
}
